.current-chat {
  height: 100vh;

  .messages-list {
    background-image: url('../../assets/bg/messages-list.jpg');
    height: 80%;
    overflow-y: auto;
  }

  .bubble {
    position: relative;
    background: #32557f;
    border-radius: 10px;
  }

  .message {
    @extend .bubble;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 30%;
      width: 0;
      height: 0;
      border: 13px solid transparent;
      border-right-color: #fefefe;
      border-left: 0;
      margin-top: -13px;
      margin-left: -13px;
    }

    .msg-options {
      background-color: #ededed;
      list-style-type: none;
      position: absolute;
      left: 60%;
      top: 50%;
      border-radius: 10px;
    }
  }

  .contact-message {
    background-color: #fefefe;
  }

  .user-message {
    background-color: #b1e4bc;
  }

  .menu-select:hover {
    color: white;
  }
}
