@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import './styles/Menu.scss';
@import './styles/CurrentChat.scss';

body {
  font-family: 'Poppins', sans-serif;
  user-select: none;

  main {
    height: 70vh;

    .profile {
      border-radius: 50%;
      width: 65px;
      height: 65px;
    }

    .error {
      color: #942911;
    }
  }

  .click {
    cursor: pointer;
  }

  .btn-primary {
    --bs-btn-bg: #7acb8b;
    --bs-btn-border-color: #b1e4bc;
    --bs-btn-hover-bg: #6aab78;
  }
}
